body {
    background: url('/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Happy Monkey', sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

body::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

header {
    background-color: #333;
    padding: 1rem;
    text-align: center;
    color: white;
}

.logo img {
    max-width: 150px;
    height: auto;
}

h1 {
    font-size: 3em;
    color: #FFF;
    margin: 0.1em 0;
}

/* .character p {
    font-size: 1.5em;
    color: #555;
} */


#about,
#characters {
    padding: 3rem;
    text-align: center;
    font-size: 1.8em;
    /* background: beige; */
}

#characters .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 2rem;
    background-color: #839c80;
}

.character {
    border: 1px solid #ddd;
    padding: 3rem;
    background-color: #fff;
    text-align: center;
}

.character img {
    max-width: 60%;
    height: auto;
    border: 4px solid #18790f;
    margin-bottom: 1rem;
}

.character p {
    font-size: 1em;
    color: #555;
}

@media (max-width: 600px) {
    #characters .container {
        grid-template-columns: 1fr;
    }
}

header,
footer {
    background: linear-gradient(to right, #000000, #4d4d4d);
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 1;
}

footer a {
    color: #03a727;
    margin: 0 8rem;
    text-decoration: none;
    font-size: 1.8em;
}

footer a:hover {
    text-decoration: underline;
}